<ion-header>
  <ion-item
    ><ion-label>Bienvenido al Chat</ion-label>
    <ion-button (click)="logOut()" fill="clear" class="logout-button"
      ><ion-icon size="small" name="log-out-outline"></ion-icon
    ></ion-button>
  </ion-item>
</ion-header>
<ion-content>
  <div class="contenedor">
    <ion-list>
      <ion-item class="mensaje" lines="none" *ngFor="let mensaje of data" target="blank" href={{url+mensaje.location}}>
        <ion-label [ngClass]="user == mensaje.user? 'derecha': 'izquierda'">
          <p class="usuario">{{mensaje.user == user? "Yo" : mensaje.user}}</p>
          <div class="burbuja">
            <p class="texto">{{mensaje.text}}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input
      [formControl]="mensajeInput"
      (keyup.enter)="sendMensaje()"
      type="text"
      id="text"
    ></ion-input>
    <ion-button (click)="sendMensaje()" [disabled]="!mensajeInput.valid"
      ><ion-icon name="arrow-forward-circle-outline"></ion-icon
    ></ion-button>
  </ion-item>
</ion-footer>
