.izquierda .usuario{
    font-size: 10px;
    color:rgb(137, 42, 102);
    padding-left: 2px;
    padding-right: 2px;
}

.derecha .usuario{
    font-size: 10px;
    color:pink;
    padding-left: 6px;
    padding-right: 6px;
}

.texto{
    color:rgb(218, 218, 218);
    display: flex;
    max-width: 70%;
    min-width: 40%;
    word-wrap: break-word;
    white-space: wrap;
}

body{
    height: 100%;
    width: auto;
}

ion-list{
    display: contents;
}

ion-content{
    background-color: rgb(30, 30, 30);
    display: flex;
    text-align: center;
}

ion-content::part(native){
    background: rgb(30, 30, 30);
}

.contenedor{
    display: flex;
    flex-direction: column;
}

ion-list{
    background-color: rgba(21, 21, 21, 0);
    margin-top: auto;
    margin-bottom: 0;
}

ion-label{
    background-color: rgba(0, 0, 0, 0);
}


.contenedor ion-item::part(native){
    background: var( --ion-color-primary-contrast);
}

:host{
    ion-item{
        --highlight-color-valid: pink;
    }

    --background: rgb(30, 30, 30);
}

.derecha{
    text-align: right;
}

.izquierda{
    text-align: left;
}

.mensaje{
    background-color: rgb(30, 30, 30);
    
}

.mensaje:hover{
    background-color: rgb(49, 47, 49);
}

.izquierda .burbuja{
    display:inline-block;
    background-color: rgb(137, 42, 102);
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    max-width: 70%;
    height: fit-content;
}

.derecha .burbuja{
    display:inline-block;
    background-color: rgb(147, 82, 119);
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    max-width: 70%;
    height: fit-content;
}