.log-up{
    height: 35px;
    background: rgb(53, 53, 53);
    text-align: center;
}

ion-img{
    margin: 70px;
    width: 30%;
}

.inicio-button{
    padding: 5px;
    border-radius: 14px;
    background-color: rgb(90, 82, 244);
}

.log-out{
    text-align: right;
}

.logout-button{
    margin:4px;
    margin-top: 10px;
    background: none;
}

ion-icon{
    font-size: 24px;
}

ion-content{
    display: flex;
    text-align: center;
}