<ion-header class="log-up">
  <ion-item><p>Inicia sesión para comenzar</p></ion-item>
</ion-header>
<ion-content class="login">
  <div class="centro">
    <ion-img
      alt="inicio"
      src="https://images.squarespace-cdn.com/content/v1/54735c97e4b00af97ef7df46/460e7203-7601-48a7-a986-86ccf128b193/differentiated+chat.png">
    </ion-img>
  </div>
</ion-content>
<ion-footer>
  <div class="boton">
    <button class="inicio-button" (click)="login()">Login with Google</button>
  </div>
</ion-footer>

