.log-up{
    height: 35px;
    text-align: center;
}

.inicio-button{
    padding: 5px;
    border-radius: 14px;
    background-color: rgb(90, 82, 244);
    color: white;
}

.log-out{
    text-align: right;
}

.logout-button{
    margin:4px;
    margin-top: 10px;
    background: none;
}

ion-icon{
    font-size: 24px;
}

.img{
    background-color: rgba(0, 0, 0, 0);
}

.centro{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.boton{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 2%;
}